[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/kohana/auth.git
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/kohana/cache.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
[submodule "modules/orm"]
	path = modules/orm
	url = https://github.com/kohana/orm.git
[submodule "modules/kohana-error"]
	path = modules/kohana-error
	url = https://github.com/Hete/kohana-error
[submodule "modules/kohana-twig"]
	path = modules/kohana-twig
	url = https://github.com/tommcdo/kohana-twig.git
