@import url('custom.css');

header.header {
    padding: 0;
}

.navbar {
    border-radius: 0;
}

.album-thumb {
    padding: 1%;
    width: 25%;
    float: left;
}

.album-thumb img {
    width: 100%;
}

/* Sticky Footer */
/* See http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
html, body {
    height: 100%;
}

.sticky-footer-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}

footer, .sticky-footer-push {
    height: 3em;
}

footer {
    clear: both;
    text-align: center;
}
