<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
            <link rel="stylesheet" href="/assets/css/base.css" />
            <meta charset="utf-8" />
            <title>{% block title %}{{ 'title.welcome'|translate }}{% endblock %} - Bendcamp</title>
        {% endblock %}
    </head>
    <body>
        <div class="sticky-footer-wrapper">
            {% block admin_navigation %}
                {% if auth.logged('admin') %}
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand visible-xs" href="#">Bendcamp</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="#"><i class="glyphicon glyphicon-plus"></i> Add an album</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-plus"></i> Add a track</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-stats"></i> Stats</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Parameters</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#">Homepage</a></li>
                                    {# If artists > 1 #}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Artists <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Artist 1</a></li>
                                            <li><a href="#">Artist 2</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Manage artists</a></li>
                                        </ul>
                                    </li>
                                    {# else #}
                                    <li><a href="#">Manage artists</a></li>
                                    {# endif #}
                                </ul>
                            </div>
                        </div>
                    </nav>
                {% endif %}
            {% endblock %}
            <div class="col-md-10 col-md-offset-1">
                {% block header %}
                    <header class="header">
                        <img class="img-responsive" src="/assets/img/logo-transparent.png" />
                    </header>
                {% endblock %}
                <div class="col-xs-12 col-md-10">
                    {% block content %}

                    {% endblock %}
                </div>
                <div class="col-xs-12 col-md-2" style="padding: 0.5%;">
                    {% block sidebar %}
                        <div class="col-xs-12 col-sm-4 col-md-12 text-center">
                            <h4 class="text-left">Marx Music Management</h4>
                            <img class="img-responsive img-center" src="/assets/thumbs/artist1.png">
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-12">
                            <p class="artist-description">
                                Welcome to our Label's online store, where you can buy and listen to
                                all of our artists' latest albums !
                            </p>
                            <ul class="list-unstyled">
                                <li><a href="#!">Twitter</a></li>
                                <li><a href="#!">Facebook</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 discography">
                            <h4>Discography</h4>
                            {% for i in range(1, 4) %}
                                <div class="col-xs-6 col-md-12">
                                    <a href="/albums/my-super-album">
                                        <img class="img-responsive" src="/assets/thumbs/album1.png" />
                                    </a>
                                    <p class="title">
                                        <a href="/albums/my-super-album">
                                            My super album
                                        </a>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div class="sticky-footer-push"></div>
        </div>
        <footer>
            {% block footer %}
                ♡ Made with <a href="http://bendcamp.org">Bendcamp</a>.<br>Copying is an act of love. Love is not subject to law.
            {% endblock %}
        </footer>
        {% block script %}
            <script src="/assets/js/jquery-1.11.1.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/readmore.min.js"></script>
            <script src="/assets/js/ready.js"></script>
        {% endblock %}
    </body>
</html>
